{% extends 'base.html' %}
	<div id="page-content" class="index-page">

		<section class="box-content box-5 box-style-3" id="nav-blog">
					<div class="container">
					{% for item in article %}
						<div class="col-md-4">
								<div class="box-item">
									<div class="svg-container post-svg svg-block">
										<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
										  <g transform="translate(0,-902.36218)"></g>
										  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
										  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
										  <path d="M 0,150 0,0 1925,0"></path>
										</svg>
									</div>
									<div class="entry-thumb">
										<img class="img-responsive" src="../static/images/{{ item.img_id }}.jpg">
										<a class="thumb-link" href="/detail/?article_id={{item.id}}"><i class="fa fa-link"></i></a>
									</div>
									<div class="content">
										<h3 class="entry-title">
											<a href="/detail/?article_id={{item.id}}">{{ item.title }}</a>
										</h3>
										<p>1234567765432</p>
										<span>{{ item.pub_time }}</span><br>
									</div>
									<div class="read-more">
										<a href="/detail/?article_id={{item.id}}">Continue reading …</a>
									</div>
									<div class="svg-container post-bottom-svg svg-block">
										<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
											<g transform="translate(0,-902.36218)"></g>
											  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
											  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
											  <path d="m 1925,0 0,150 -1925,0"></path>
										</svg>
									</div>
								</div>
							</div>
						{% if forloop.counter|divisibleby:3 %}
						</div>
						<div class="container">
						{% endif %}
					{% endfor %}
			</div>
		</section>
		
	</div>
